APP_NAME=nestjs-app
APP_KEY=secret
PORT=3000
NODE_ENV=development
APP_URL=http://localhost:${PORT}
HOST=
MEDIA_BASE_URL=http://localhost/api/v1

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME

JWT_SECRET=
JWT_EXPIRES_IN=1h

JWT_REFRESH_SECRET=

JWT_RESET_SECRET=

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

SESSION_SECRET=your_session_secret

LOG_LEVEL=debug

CORS_ORIGIN=http://localhost:3000
FRONTEND_OAUTH_SUCCESS_URL=

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="email@gmail.com"
SMTP_PASS="16-digit-app-password"
MAIL_FROM="My App <no-reply@myapp.com>"

REDIS_HOST=localhost
REDIS_PORT=6379